# Use these values to connect to the local database
POSTGRES_HOST=localhost
POSTGRES_USERNAME=policybot
POSTGRES_PASSWORD=policybot
POSTGRES_DATABASE=policybot
POSTGRES_SSL=disable
POSTGRES_PORT=5432

# Needed for Ollama (if using)
# OLLAMA_ENDPOINT=http://localhost:11434/v1
# OLLAMA_CHAT_MODEL=llama3.1:8b-instruct-q8_0
# OLLAMA_EMBED_MODEL=thenlper/gte-large

# Needed for Azure OpenAI
AZURE_OPENAI_ENDPOINT= #API Endpoint
AZURE_OPENAI_API_KEY= #API Key
AZURE_OPENAI_CHAT_MODEL=gpt-4.1 # for example
AZURE_OPENAI_CHAT_MODEL_VERSION=2024-12-01-preview # for example

# Select embedding type from ["simple_embeddings", "title_embeddings", "context_embeddings"]
EMBEDDING_TYPE=title_embeddings
WITH_USER_CONTEXT=False

# Leave as None if unsure 
CHAT_MODEL_CONTEXT_WINDOW_SIZE=8192 

# Needed for embedding 
EMBED_MODEL=thenlper/gte-large 
EMBED_CHUNK_SIZE=512 
EMBED_OVERLAP_SIZE=128
EMBED_DIM=1024

# Needed for logging 
LOGTAIL_TOKEN=None

# Huggingface Hub 
HF_TOKEN= #Huggingface Token

# LSE Account (if using)
LSE_USERNAME=''
LSE_PASSWORD=''

# Local directory holding copies of PDF documents to ingest
OFFLINE_PDFS_DIR=''